{% extends "base.html" %}

{% block content %}
<div class="content">

    <h1>Carrier Captain</h1>
    {% if no_session %}
    <p>There is currently no active session.</p>
    {% else %}
    {% if order_result %}
    <p>{{ order_result }}</p>
    {% endif %}
    <form action="/ongoing_session/captain" method="post">
        <fieldset>
            <legend>Which course type do you want the carrier to follow?</legend>
            <ul>
                <li>
                    <label for="loiter">Loiter</label>
                    <input type="radio" id="loiter" name="course_type" value=0 checked> <!-- values must correspond to fg_targets.py CarrierCourseType -->
                </li>
                <li>
                    <label for="navigate">Navigate</label>
                    <input type="radio" id="navigate" name="course_type" value=1>
                </li>
                <li>
                    <label for="recovery">Recovery (flight ops)</label>
                    <input type="radio" id="recovery" name="course_type" value=10>
                </li>
                <li>
                    <label for="launch">Launch (flight ops)</label>
                    <input type="radio" id="launch" name="course_type" value=20>
                </li>
            </ul>
        </fieldset>
        <ul>
            <li>
                <label for="navigate_course_deg">Course to follow if navigate:</label>
                <input type="number" name="navigate_course_deg" id="navigate_course_deg" min="0" max="359" step="1" value="10">
            </li>
            <li>
                <label for="deck_lights">Deck lights:</label>
                <input type="checkbox" id="deck_lights" name="deck_lights" >
            </li>
            <li>
                <label for="flood_lights">Red flood lights:</label>
                <input type="checkbox" id="flood_lights" name="flood_lights" >
            </li>
            <li class="button">
                <button type="submit">Send your order</button>
            </li>
        </ul>

    </form>


    {% endif %}

</div>
{% endblock %}
