{% extends "base.html" %}

{% block content %}
<div class="content">

    <h1>{{title}}</h1>
    {% if hunter_session is none %}
    <p>{{text_invalid_session|safe}}</p>
    {% else %}
    <table>
        <tr><td>ID</td><td>{{hunter_session.session_id}}</td></tr>
        <tr><td>Scenario name</td><td>{{hunter_session.name}}</td></tr>
        <tr><td>Scenario description</td><td>{{hunter_session.description}}</td></tr>
        <tr><td>Typical airport</td><td>{{hunter_session.icao}}</td></tr>
        <tr><td>Started at (UTC)</td><td>{{hunter_session.started_dt}}</td></tr>
        <tr><td>Stopped at (UTC)</td><td>{{hunter_session.stopped_dt}}</td></tr>
        <tr><td>MP server host</td><td>{{hunter_session.mp_server_host}}</td></tr>
        <tr><td>GCI is enabled</td><td>
            {% if hunter_session.gci %}<div class="check_true">&checkmark;</div>
            {% else %}<div class="check_false">&div;</div>
            {% endif %}
        </td></tr>
        <tr><td>Shooting helis</td><td>
            {% if hunter_session.heli_shoot %}<div class="check_true">&checkmark;</div>
            {% else %}<div class="check_false">&div;</div>
            {% endif %}
        </td></tr>
        <tr><td>Shooting drones</td><td>
            {% if hunter_session.drone_shoot %}<div class="check_true">&checkmark;</div>
            {% else %}<div class="check_false">&div;</div>
            {% endif %}
        </td></tr>
        <tr><td>Shooting ships</td><td>
            {% if hunter_session.ship_shoot %}<div class="check_true">&checkmark;</div>
            {% else %}<div class="check_false">&div;</div>
            {% endif %}
        </td></tr>
        <tr><td>Shooting Shilkas</td><td>
            {% if hunter_session.shilka_shoot %}<div class="check_true">&checkmark;</div>
            {% else %}<div class="check_false">&div;</div>
            {% endif %}
        </td></tr>
        <tr><td>Shooting SAMs</td><td>
            {% if hunter_session.sam_shoot %}<div class="check_true">&checkmark;</div>
            {% else %}<div class="check_false">&div;</div>
            {% endif %}
        </td></tr>
        <tr><td>MP AWACS active</td><td>
            {% if hunter_session.awacs %}<div class="check_true">&checkmark;</div>
            {% else %}<div class="check_false">&div;</div>
            {% endif %}
        </td></tr>
        <tr><td>MP Tanker active</td><td>
            {% if hunter_session.tanker %}<div class="check_true">&checkmark;</div>
            {% else %}<div class="check_false">&div;</div>
            {% endif %}
        </td></tr>
    </table>

    <p>Click on the blue markers in the map to get info about the airport like ICAO and name.</p>

    <!-- a map showing the area -->
    <div id="map_current_session"></div>
    <script>
        var south_west = {{ hunter_session.south_west|tojson }};
        var north_east = {{ hunter_session.north_east|tojson }};
        var airport_data = {{ airports|tojson }};

        var my_map = L.map('map_current_session').fitBounds([
            [south_west[1], south_west[0]],
            [north_east[1], north_east[0]]
        ]);

        L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
        }).addTo(my_map);
        L.control.scale().addTo(my_map);

        for (i in airport_data) {
            var marker = L.marker([airport_data[i][2], airport_data[i][1]]).addTo(my_map);
            marker.bindPopup(airport_data[i][0]);
        }
    </script>

    {% endif %}

</div>
{% endblock %}
