{% extends "base.html" %}

{% block content %}
<div class="content">

    <h1>{{title}}</h1>
    {% if hunter_session is none %}
    <p>{{text_invalid_session|safe}}</p>
    {% elif damages %}
    <table class="content_table">
        <tr>
            <th>Result</th>
            <th>Weapon</th>
            <th>Attacker</th>
            <th>Attacker Kind</th>
            <th>Target</th>
            <th>Target Kind</th>
            <th>Shooting?</th>
            <th>Civilian?</th>
            <th>FG instance?</th>
            <th>Time</th>
        </tr>
        {% for damage in damages %}
        <tr>
            <td>{{damage.health.name}}</td>
            <td>{{damage.weapon_type.name}}</td>
            <td>{{damage.attacker}}</td>
            <td>{{damage.attacker_kind}}</td>
            <td>{{damage.target}}</td>
            <td>{{damage.target_kind}}</td>
            <td>{{damage.shooting}}</td>
            <td>{{damage.civilian}}</td>
            <td>{{damage.fg_target}}</td>
            <td>{{damage.damage_time}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>There are no registered hits in the current session.</p>
    {% endif %}

</div>
{% endblock %}
