{% extends "base.html" %}

{% block content %}
<div class="content">

    <h1>{{title}}</h1>
    {% if hunter_session is none %}
    <p>{{text_invalid_session|safe}}</p>
    {% else %}
    <p>Attackers have blue markers (also their support like tanker or AWACS), ships are green, vehicles are magenta, static stuff is red, rest (mostly flying) is cyan.<br>
        Zoom in on the markers and then click on them to get more info like their callsign, type and position. <br>
        Click in the map to get the lon/lat displayed in the lower left corner.</p>
    <div id="map_positions"></div>
    <script>
        var south_west = {{ hunter_session.south_west|tojson }};
        var north_east = {{ hunter_session.north_east|tojson }};
        var positions_data = {{ positions|tojson }};

        var my_map = L.map('map_positions').fitBounds([
            [south_west[1], south_west[0]],
            [north_east[1], north_east[0]]
        ]);

        L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
        }).addTo(my_map);
        L.control.scale().addTo(my_map);

        for (i in positions_data) {
            var circle = L.circle([positions_data[i][2], positions_data[i][1]], {
                color: positions_data[i][3],
                fillColor: positions_data[i][3],
                fillOpacity: 0.5,
                radius: 100
            }).addTo(my_map);
            circle.bindPopup(positions_data[i][0]);
        }

        var c = new L.Control.Coordinates();
        c.addTo(my_map);

        function onMapClick(e) {
            c.setCoordinates(e);
        }

        my_map.on('click', onMapClick);
    </script>
    {% endif %}

</div>
{% endblock %}
