.content_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.content_table td, .content_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.content_table tr:nth-child(even){background-color: #f2f2f2;}

.content_table tr:hover {background-color: #ddd;}

.content_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.content_table th.right {
    text-align: right;
}

.content_table td.right {
    text-align: right;
}


.fixed-footer {
    bottom: 0;
    font-size: 13px;
    text-align: center;
    color: white;
    background-color: #4CAF50;
}

/* checkmarks for boolean true and false */
.check_true
{
    color: green;
}
.check_false
{
    color: red;
}


#map_current_session {
    height: 600px;
    width: 800px;
}

#map_positions {
    height: 800px;
    width: 1024px;
}

/* Form stuff for the captain */
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 800px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 300px;
    text-align: right;
}

.label_result {
    color: #4CAF50;
}

.button {
    /* Align buttons with the text fields */
    align: right;
    background: #4CAF50;
}

button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 480px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip-inner {
    white-space: pre-wrap;
}
