{% extends "base.html" %}

{% block content %}
<div class="content">
    <h1>Hi!</h1>
    <p><em>Hunter</em> is a set of services for the free flight simulator <a href="http://home.flightgear.org/">FlightGear</a>
        to place different types of targets into <a href="http://wiki.flightgear.org/Howto:Multiplayer">MultiPlayer</a>
        mode, such that military shooting scenarios can be flown.
        These services are inspired by the work in the FlightGear flight sim military community
        <a href="http://opredflag.com/">Operation Red Flag (OPRF)</a>.
    </p>
</div>
<!-- {{ gae_env }} -->
<!-- {{ gcp_id }} -->
{% endblock %}
