{% extends "base.html" %}

{% block content %}
<div class="content">
    <h1>Introduction</h1>
    <p>The forms below can help you to set the correct <a href="https://en.wikipedia.org/wiki/Altimeter_setting">altimeter settings</a> in your aircraft.</p>
    <p>The acronym <em>QNH</em> is one of the Q(uestion) code names developed for use in morse code (<a href="https://en.wikipedia.org/wiki/Q_code">Q-code</a>. To concisely ask for atmospheric pressure at mean sea level (MSL), the operator
    would transmit the letters <em>QNH</em> to be interpreted as "I have a question. What is the atmospheric pressure at Nil Height?"</p>
    <p>If you set the <em>QNH</em> (that can be taken from the <a href="https://en.wikipedia.org/wiki/METAR">Metar</a> or from <a href="https://en.wikipedia.org/wiki/Air_traffic_control">ATC</a>) you will fly Altitudes, and if you set the <em>QFE</em> you will fly Height.</p>

    <h1>Fetch METARs and Calculate Interpolated QNH</h1>
    <p><em>QNH</em> will be interpolated for a given lon/lat based on a linear approximation for distance given the chosen airports. If lon or lat is omitted, then only the METARs are fetched for the list of airports.</p>
    <form action="/tools/weather_qnh" method="post">
        <ul>
            {% if qnh_error %}
            <li class="check_false">{{ qnh_error }}</li>
            {% endif %}
            <li>
                <label for="icao">List of airports (ICAO)</label>
                <input id="icao" name="icao" type="text" value="{{ request.form['icao'] }}" required placeholder="Single ICAO or comma separated list like ENAT, ENNA">
            </li>
            <li>
                <label for="lon">Longitude</label>
                <input id="lon" name="lon" type="number" min="-180" max="180" step="0.0001" value="{{ request.form['lon'] }}">
            </li>
            <li>
                <label for="lat">Latitude</label>
                <input id="lat" name="lat" type="number" min="-90" max="90" step="0.0001" value="{{ request.form['lat'] }}">
            </li>
            <li>
                <label for="button_qnh"></label>
                <button id="button_qnh" type="submit" class="button">Fetch and calculate</button>
            </li>
            <li>
                <label class="label_result" for="qfe_result">Interpolated QNH</label>
                <input id="qnh_result" value="{{ qnh_result }}" type="text" disabled>
            </li>
        </ul>
    </form>

    {% if metar_containers %}
    <table class="content_table">
        <tr>
            <th>Station</th>
            <th>METAR (has tooltip on hover)</th>
        </tr>
        {% for metar_container in metar_containers %}
        <tr>
            <td>{{metar_container.station_id}}</td>
            <td><div class="tooltip">{{metar_container.raw_text}}<span data-html="true" class="tooltiptext">{{metar_container.html_tooltip}}</span></div></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No data found. Maybe you should check whether the ICAO codes actually exist.</p>
    {% endif %}

    <h1>Calculate QFE</h1>
    <form action="/tools/weather_qfe" method="post">
        <ul>
            <li>
                <label for="qnh">QNH</label>
                <input id="qnh" name="qnh" type="number" min="0" max="2000" step="0.01" value="{{ request.form['qnh'] }}" required>
                <label for="p_unit">Pressure unit</label>
                <select id="p_unit" name="p_unit">
                    <option value="mbar">mBar / hPa</option>
                    <option value="inhg">inHg</option>
                </select>
            </li>
            <li>
                <label for="elevation">True altitude / elevation MSL</label>
                <input id="elevation" name="elevation" type="number" value="{{ request.form['elevation'] }}" required>
                <label for="a_unit">Altitude unit</label>
                <select id="a_unit" name="a_unit">
                    <option value="m">metres (m)</option>
                    <option value="ft">feet (ft)</option>
                </select>
            </li>
            <li>
                <label for="button_qfe"></label>
                <button id="button_qfe" type="submit" class="button">Calculate</button>
            </li>
            <li>
                <label class="label_result" for="qfe_result">Calculated QFE</label>
                <input id="qfe_result" value="{{ qfe_result }}" type="text" disabled>
            </li>
        </ul>
    </form>
</div>
{% endblock %}
